body {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

.home{
  height: calc(100vh - 0.1rem);
  background-image: url('../public/backgroundB1.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.navbar {
  color: white;
  position: relative;
  font-size: 2.4rem;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  display: flex;
  justify-content: right;
  width: 100vw;
}

.title {
  color: #cb5559;
  font-size: 5rem;
  font-family: sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
}

.btn {
  color: white;
  background-color: #cb5559;
  margin-left: 7.1rem;
  width: 9.7rem;
  margin-top: 9rem; 
  font-weight: bold;
  font-size: 18.5px;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.fas{
  padding-top: 0.5rem;
  padding-left: 1rem;
}

.service {
  /* background-color: #cb5559; */
  height: calc(100vh - 0.1rem);
  padding: 1rem;
}

.footer {
  background-color: #cb5559;
  height: calc(100vh - 27rem);
  padding: 1rem;
}

.icons {
    text-align: center;
}

article a {
  color: white;  
  margin: 1rem;
  transition: transform 1s;
}

article a svg {
  height: 3rem;
  width: 3rem;
  cursor: pointer;
  transition: color 1s;
}

.copyright {
  font-size: 1rem;
  font-family: sans-serif;
  padding: 3rem;
  text-align: center;
  font-weight: bold;
}

.service-item{
    height: 12rem;
    margin-bottom: 1rem;
    color: white;
    font-family: sans-serif;
    font-size: 40px;
    text-align: center;
}

.service-btn, .form-btn {
  color: white;
  background-color: #cb5559;
  width: 9.7rem;
  font-weight: bold;
  font-size: 18.5px;
  text-align: center;
  justify-content: center;
  align-items: center;

  /* default */
  display: inline-block;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

#detailing-service {
  background-image: url('../public/service4.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#polish-service {
  background-image: url('../public/service2.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#ceramic-service {
  background-image: url('../public/service3.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}




/* book page */

.book h1{
  text-align: center;
}

.form {
  padding: 1rem;
}

.name{
}

.name label {
  width: 90vw;
}

.name div label {
  margin-left: 0.5rem;
}

.input {
  margin-left: 0.5rem;
  width: 90vw;
  height: 6.5vh;
  border: 1px solid #ccc;
  background: #fafafa;
  font-family: sans-serif;
  font-size: 16px;
  box-sizing: border-box;
  border-radius: 2px;
}

.service-choice {
  margin: 1rem 0rem;

}

.service-choice select {
  width: 44.9vw;

}

#secs {
  margin-top: 1rem;
}

select {
  margin-left: 0.5rem;
    width: 90vw;
    height: 6.5vh;
    border: 1px solid #ccc;
    background: #fafafa;
    font-family: sans-serif;
    font-size: 16px;
    box-sizing: border-box;
    border-radius: 2px;
}


