body {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

/* Home Component -------------------------------------------------------------------------------  */
.home{
  height: calc(100vh - 0.1rem);
  background-image: url('../public/backgroundB1.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.navbar {
  color: white;
  position: relative;
  font-size: 2.4rem;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  display: flex;
  justify-content: right;
}

.drop-ul {
  background-color: #383d39;
  color: white;
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  margin: 0;
  width: 100vw;
  position: absolute;
  transition: 0.3s ease-out;
  list-style-type: none;
  text-align: center;
  height: 0px;
  overflow: hidden;
}

.drop-ul li {
  padding: 10px;
  padding-right: 40px;
}

.drop-ul li:hover {
  color: #cb5559;
}

.title {
  color: #cb5559;
  font-size: 5rem;
  font-family: sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
}

.btn {
  color: white;
  background-color: #cb5559;
  margin-left: 7.1rem;
  width: 9.7rem;
  margin-top: 9rem; 
  font-weight: bold;
  font-size: 18.5px;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.fas{
  color: white;
  padding-top: 0.5rem;
  padding-left: 1rem;
}

.navbar .fas {
  visibility: visible;
}
.navbar .nav-items {
  visibility: hidden;
  width: 0px;
  height: 0px;
  position: fixed;
}

.service {
  height: calc(100vh - 0.1rem);
  padding: 1rem;
}

.service-item{
    height: 12rem;
    margin-bottom: 1rem;
    color: white;
    font-family: sans-serif;
    font-size: 40px;
    text-align: center;
}

.service-btn, .form-btn {
  color: white;
  background-color: #cb5559;
  width: 9.7rem;
  font-weight: bold;
  font-size: 18.5px;
  text-align: center;
  justify-content: center;
  align-items: center;

  /* default */
  display: inline-block;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

#detailing-service {
  background-image: url('../public/service4.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#polish-service {
  background-image: url('../public/service2.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#ceramic-service {
  background-image: url('../public/service3.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


.footer {
  background-color: #cb5559;
  height: calc(100vh - 27rem);
  padding: 1rem;
}

.icons {
  text-align: center;
}

article a {
  color: white;
  margin: 1rem;
  transition: transform 1s;
}

article a svg {
  height: 3rem;
  width: 3rem;
  cursor: pointer;
  transition: color 1s;
}

.copyright {
  font-size: 1rem;
  font-family: sans-serif;
  padding: 3rem;
  text-align: center;
  font-weight: bold;
}






/* Book Component ------------------------------------------------------------*/


.book h1{
  text-align: center;
}

.form {
  padding: 1rem;
}

.name label {
  width: 90vw;
}

.name div label {
  margin-left: 0.5rem;
}

.input {
  margin-left: 0.5rem;
  width: 90vw;
  height: 6.5vh;
  border: 1px solid #ccc;
  background: #fafafa;
  font-family: sans-serif;
  font-size: 16px;
  box-sizing: border-box;
  border-radius: 2px;
}

.service-choice {
  margin: 1rem 0rem;

}

.service-choice select {
  width: 44.9vw;

}

#secs {
  margin-top: 1rem;
}

select {
  margin-left: 0.5rem;
    width: 90vw;
    height: 6.5vh;
    border: 1px solid #ccc;
    background: #fafafa;
    font-family: sans-serif;
    font-size: 16px;
    box-sizing: border-box;
    border-radius: 2px;
}



/* Responsive */

@media (min-width: 800px) {
  .navbar {
    background-color: #383d39;
    height: 4rem;
    border-bottom: solid 3px #cb5559;
    position: fixed;
    width: 100vw;
  }
  .navbar .fas {
    visibility: hidden;
    width: 0vw;
    height: 0vh;
  }
  .navbar .nav-items {
    visibility: visible;
    width: auto;
    height: auto;
    margin-left: 1rem;
    margin-right: 1rem;
    font-size: 1.8rem;
    position: relative;
  }

  .nav-items:hover {
    color: #cb5559;
  }

  .home {
    background-image: url('../public/backgroundB4.jpg');
  }
  .btn {
    width: 11rem;
    height: 3.4rem;
    margin: 0;
    margin-top: 5rem;
  }
  .center {
    text-align: center;
  }

  .title{
    visibility: hidden;
  }

  .btn::before{
    content: "Hustle Auto Detail";
    width: 98vw;
    height: 20vh;
    /* background: blue; */
    position: absolute;
    top: 10%;
    left: 2.5%;
    font-size: 5rem;
    font-family: sans-serif;
    font-weight: bold;
    color: red;
    color: #cb5559;
    font-size: 5rem;
    font-family: sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.3rem;
  }

  .service, 
  .contact, 
  .book{
    padding-top: 5rem;
  }

}


@media (min-width: 900px) {
  
  .center {
    width: center;
  }
  .btn::before {
      content: "Hustle Auto Detail";
      width: 95vw;
      height: 20vh;
      /* background: blue; */
      position: absolute;
      top: 10%;
      left: 2.5%;
      font-size: 5rem;
      font-family: sans-serif;
      font-weight: bold;
      color: red;
      color: #cb5559;
      font-size: 4.5rem;
      font-family: sans-serif;
      font-weight: bold;
      text-transform: uppercase;
      letter-spacing: 0.3rem;
    }

}










